 .vote-image {
	width:100%;
	margin-top:20px;
}
.vote-image .title {
	height:24px;
}
.vote-image .title .img{
	width:24px;
	height:24px;
	background:url('http://img03.taobaocdn.com/tps/i3/T17p4pXi4eXXXXXXXX-24-24.png') no-repeat;
	float:left;
}
.vote-image ul li img{
	margin:0 auto;
	vertical-align:middle;
}
.vote-image .box{
	clear:both;
	width:100%;
}
.vote-image .name{
	clear:both;
	width:100%;
}
.vote-image input{
	width:16px;
	height:16px;
	vertical-align:middle;
}
.vote-image .title .txt-title{
	font-size:14px;
	color:#3F3F3F;
	font-weight:bold;
	float:left;
	margin-top:5px;
	margin-left:10px;
}
.vote-image .title .txt-choose{
	font-size:12px;
	float:left;
	margin-left:10px;
	margin-top:6px;
	font-weight:bold;
	color:#AB9999;
}
.vote-image .title .sum{
	float:right;
	margin-right:10px;
	color:#666;
	font-size:11px;
	font-weight:bold;
}
.vote-image .title .sum strong{
	color:#ff9900;
	font-size:11px;
	font-weight:bold;
}
.vote-image ul{
	list-style-type:none;
	margin:0px;padding:0px;
	margin-top:40px;
}
.vote-image ul li{
	list-style-type:none;
	color:#999;
	width:180px;
	padding:0px 40px 15px 0;
	float:left;
}
.vote-image ul li .vote-link{
	border:1px solid #7295DC;
	padding:1px;
}
.vote-image ul li .vote-link-gray{
	border:1px solid #999;
	padding:1px;
}
.vote-image ul li a{
	border:1px solid #FFFFFF;
}
.vote-image ul li .s180{
	height:180px;
	width:180px;
	padding:1px;
	overflow:hidden;
	display:block;
	line-height:180px;
	text-align:center;
	vertical-align:middle;
}
.vote-image ul li .opt-title a{
	border:0 none;
}
.vote-image ul li span{
	color:#666;
	font-weight:bold;
}
.vote-image p{
	clear:both;
}
.vote-image p span{
	color:#999;
	font-size:12px;
}
.vote-image p{
	margin-top:10px;
	display:inline-block;
	width:100%;
}
.vote-image p .tips{
	float:left;
	margin-left:10px;
	margin-top:3px;
}
.vote-image p .time{
	float:right;
	margin-top:3px;
	margin-left:5px;
}
.vote-image p span span{
	margin-left:50px;
}
.vote-image .btn-m{
	margin-left:20px;
	float:left;
}
.vote-image .opt{
	display:inline-block;
	width:40px;
	color:#999;
	display:inline;
	font-size:12px;
	margin-left:5px;
}
.vote-image .fraction-base{
	height:15px;
	line-height:10px;
	width:178px;
	background:#EFEFEF;
	padding:0px;
}
.vote-img-info input{
	display:inline;
	vertical-align:middle;
}
.vote-img-info span{
	font-size:12px;
}
.vote-img-info strong{
	font-size:12px;
	color:#999999;
	display:inline;
	margin-left:3px;margin-right:5px;
}
.vote-img-info{
	display:inline-block;
	width:180px;
	
	height:36px;
	word-wrap: break-word; word-break: normal; 
	vertical-align:middle;
}
.vote-image .opt-title{


}
.vote-image .fraction-base span{
	height:13px;
	margin:0px;
	padding:0px;
	display:inline-block;
	line-height:8px;
	font-size:6px;
}
.vote-image .fraction{
	float:left;
	color:#000;
	margin-left:10px;
}
.vote-image .vote-info{
	color:#FF9900;
	font-size:12px;
	text-align:center;
}
.vote-image .fraction em{
	font-style:normal;
	font-weight:normal;
	padding-right:10px;
}
.vote-image .vote-end{
	width:120px;float:left;
}
.vote-image .button_published{
	width:83px;
	height:20px;
	border:none;
	background:url('http://img01.taobaocdn.com/tps/i1/T16_FoXchmXXXXXXXX-83-20.png');
}
.vote-image .button_publish-end{
	width:83px;
	height:20px;
	border:none;
	background:url('http://img03.taobaocdn.com/tps/i3/T1tfXpXhhrXXXXXXXX-83-20.png');
}

/*detail页投票模块选项-颜色列表*/
.color1{
	background:#FFB33F;
	border:1px solid #FF9900;
}
.color2{
	background:#FF7519;
	border:1px solid #FF6600;
}

.color3{
	background:#FFB33F;
	border:1px solid #FF9900;
}
.color4{
	background:#FFB33F;
	border:1px solid #FF9900;
}
.color6{
	background:#FFB33F;
	border:1px solid #FF9900;
}
.color7{
	background:#FFB33F;
	border:1px solid #FF9900;
}
.color8{
	background:#FFB33F;
	border:1px solid #FF9900;
}
.color9{
	background:#FFB33F;
	border:1px solid #FF9900;
}
.color10{
	background:#FFB33F;
	border:1px solid #FF9900;
}
/* 修正vote模块在编辑器样式文件加入后的一些问题*/
.ks-editor-post ul li{
	list-style-type:none;
}

.vote-table-cell{
	line-height:179px;
	display: table-cell;  
    vertical-align:middle;  
	text-align:center;  
	/* 针对IE的Hack */  
	/**display: block;  */ 
	*font-size: 157px;/*约为高度的0.873，200*0.873 约为175*/  
	*font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/    
	width:180px;  
	height:180px; 
}